.navbar01 {
  height: 60px;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 1;
}
.navbody{
    width: 90%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
}
.logobody {
  height: 100%;
  width: 300px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logobody > img {
  width: 80%;
}

.acsections01 {
  width: 400px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  
}
.navbtmns{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbtnlinks{
    display: flex;
    align-items: center;
    justify-content: center;
}
.subnav{
    height: 50px;
    width: 100%;
    margin-top: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    background-color: #031b4e;
    color: #000000;
}
.subnavlinks{
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight:600 ;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.subnavlinks:hover{
   
    font-size: 15px;
    font-weight:700 ;
    border-bottom: 2px solid #fff;
}

.drowermenue{
    display: none;
}
.serbtn{
    width: 400px;
    height: 40px;
   
    display: flex;
    align-items: center;
    justify-content: center;
}
.serbtn>input{
    width:90%;
    height: 40px;
    border: 1px solid #031b4e;
    padding-left: 5px;
}
.serbtn>button{
    width:10%;
    height: 100%;
    margin-left: -10px;
   background-color: #031b4e;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    
}
.serachresult{
  width: 400px;
  height: 500px;

  background-color: #fff;
  position: absolute;
  top: 50px;
  overflow: auto;
}
.nopimg{
    margin-top: 50px;
}
.sind{
    display: block;
}
.sino{
    display: none;
}
.semapc{
    height: 35px;
    width: 100%;
    border-bottom: 1px solid rgb(160, 160, 160);
    text-align: left;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-style: italic;
    padding-left: 20px;
}
@media screen and (max-width: 780px) {
    .navlinkheadings{
        display: none;
    }
    .acsections01 {
        width: 400px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 25px;
        
    }
    .subnav{
       display: none;
    }
    .drowermenue{
        display:block;
    }
}
