@import url("https://fonts.googleapis.com/css?family=Exo:400,700");
.sucsesssmsg{
  width: 40%;
  height: 80vh;
  border-radius: 5px;
  position: absolute;
  top: 10vh;
  left: 30%;
  display: none;
  background-color: #ffffff;
  z-index: 1;
  -webkit-animation: scale-in-ver-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-ver-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.sucsesssmsg>img{
  width: 40%;
  margin: auto;
  margin-top: 50px;
}
.sucsesssmsg>h1{
 color: #031b4e;
 font-size: 18px;
 font-weight: 700;  

}
.sucsesssmsg>p{
  color: #2e2e2e;
  font-size: 16px;
  font-weight: 700;  
 
 }
 .sucsesssmsg>button{
  width: 75px;
  height: 35px;
  background-color: #0059ff;
  border-radius: 5px;
  margin-top: 25px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;  
 
 }
 @-webkit-keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}



.contextt {
  width: 70%;
  height: 80vh;
  border-radius: 5px;
  position: absolute;
  top: 10vh;
  left: 15%;
  display:flex;
  background-color: #ffffff;
  z-index: 1;
  
}
.contexaddd {
  width: 50%;
  height: 100%;
  
  background-repeat: no-repeat;
  background-size: cover;
}
.welcomtag{
    font-size: 2.8rem;
    font-weight: 900;
    color: #031b4e;
    
}
.contexaddd > img {
    margin: auto;
    margin-top: 50px;
  width: 50%;
}
.conextconterlogin {
  width: 50%;
  height: 100%;
  background-color:  #031b4e;
}
.slogan{
    color: #083805;
    font-size: 14px;
}
.loglogo {
  width: 30%;
  margin-left: 70%;
}
.welheadign {
  font-size: 1.8rem;
  font-weight: 600;
  margin-top: 25px;
  color: #ffffff;
}
.enterdtails {
  color: #ffffff;
}

.inputconter {
  width: 80%;
  display: block;
  margin: auto;
  margin-top: 25px;
  padding-bottom: 25px;
}
.contexinput {
  width: 90%;
  height: 35px;
  margin-top: 25px;
  padding-left: 10px;
  border: 0;
  border-radius: 5px;

  color: #000000;
  background-color: #ffffffd0;
}
.contexinput::placeholder {
  color: #000000;
}
.lginbtn {
  height: 33px;
  width: 90%;
  background-color: #0ceb69;
  color: #424242;
  font-size: 16px;
  font-weight: 600;
  margin-top: 25px;
  border-radius: 5px;
}
.forgotp {
  color: #f0f0f0;
  font-size: 12px;
  text-align: right;
  margin-right: 25px;
  margin-top: 10px;
}
.dnhac {
  color: #f0f0f0;
}
.siglink {
  color: #0cebc6;
  font-size: 15px;
}

.area {
  background: rgb(133, 149, 219);
  background: -webkit-linear-gradient(to left, #647bff, #4e64c8);
  width: 100%;
  height: 100vh;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.579);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
