.App{
  width: 100%;
 
  display: flex;
  align-items: center;
  border: 1px solid red;
}
.siderbody{
width: 20%;
border: 1px solid red;
height:800px;
}
.mainbody{
  width: 80%;
  border: 1px solid red;
  height: 800px;
}